DATABASE_URL="DB URL FROM SUPABASE"

# Direct connection to the database. Used for migrations
DIRECT_URL="BIRECT URL FROM SUPABASE"

NEXT_PUBLIC_PAGESIZE=10
NEXT_BASE_URL = "http://localhost:3000"

#GO TO YOUR SUPABASE ACCOUNT AND SETTING NEXT.JS 
NEXT_PUBLIC_SUPABASE_URL="PROJECT-URL"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=PUBLISHABLE_KEY